formationdatafactorygregory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nom de fabrique de données",
			"defaultValue": "formationdatafactorygregory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_covid2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Indicateurs",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "extract_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "extract_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tx_incid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tx_incid",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "R",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "R",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "taux_occupation_sae",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "taux_occupation_sae",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tx_pos",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tx_pos",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcIndicateurs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DstIndicateurs",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Centre Vaccin",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Indicateurs",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "gid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gid",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "nom",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nom",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "arrete_pref_numero",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "arrete_pref_numero",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "xy_precis",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "xy_precis",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "id_adr",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id_adr",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "adr_num",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "adr_num",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "adr_voie",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "adr_voie",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "com_cp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "com_cp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "com_insee",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "com_insee",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "com_nom",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "com_nom",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "lat_coor1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "lat_coor1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "long_coor1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "long_coor1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_siren",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_siren",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_rais",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_rais",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_num",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_num",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_voie",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_voie",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_cp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_cp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_insee",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_insee",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_com",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_com",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_userid_creation",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_userid_creation",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_userid_modification",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_userid_modification",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_edit_datemaj",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_edit_datemaj",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "lieu_accessibilite",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "lieu_accessibilite",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_lundi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_lundi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_mardi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_mardi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_mercredi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_mercredi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_jeudi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_jeudi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_vendredi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_vendredi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_samedi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_samedi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_dimanche",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_dimanche",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_fermeture",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_fermeture",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_ouverture",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_ouverture",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_site_web",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_site_web",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_tel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_tel",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_tel2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_tel2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_modalites",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_modalites",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_consultation_prevaccination",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_consultation_prevaccination",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "centre_svi_repondeur",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "centre_svi_repondeur",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "centre_fermeture",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "centre_fermeture",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "reserve_professionels_sante",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "reserve_professionels_sante",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcCentreVaccin",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DstCentreVaccin",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline covid master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline Covid1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipeline_covid1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline Covid 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline Covid1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipeline_covid2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline_covid2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline covid master",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2021-03-22T14:46:00",
						"endTime": "2021-03-22T16:46:00",
						"timeZone": "Romance Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline covid master')]"
			]
		}
	]
}