formationdatafactorygregory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nom de fabrique de données",
			"defaultValue": "formationdatafactorygregory"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Chaîne sécurisée pour « accountKey » de « AzureDataLakeStorage1 »"
		},
		"FileServer1_password": {
			"type": "secureString",
			"metadata": "Chaîne sécurisée pour « password » de « FileServer1 »"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://formationecoleazure.dfs.core.windows.net/"
		},
		"FileServer1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\ggauthier\\Desktop\\Ecole_de_la_Data\\Architecture Azure\\Data_covid"
		},
		"FileServer1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "BETD\\ggauthier"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('FileServer1_properties_typeProperties_host')]",
					"userId": "[parameters('FileServer1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('FileServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dst1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "datacovid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dst2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "datacovid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dateRep",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "cases",
						"type": "String"
					},
					{
						"name": "deaths",
						"type": "String"
					},
					{
						"name": "countriesAndTerritories",
						"type": "String"
					},
					{
						"name": "geoId",
						"type": "String"
					},
					{
						"name": "countryterritoryCode",
						"type": "String"
					},
					{
						"name": "popData2019",
						"type": "String"
					},
					{
						"name": "continentExp",
						"type": "String"
					},
					{
						"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dst3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "datacovid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dateRep",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "cases",
						"type": "String"
					},
					{
						"name": "deaths",
						"type": "String"
					},
					{
						"name": "countriesAndTerritories",
						"type": "String"
					},
					{
						"name": "geoId",
						"type": "String"
					},
					{
						"name": "countryterritoryCode",
						"type": "String"
					},
					{
						"name": "popData2019",
						"type": "String"
					},
					{
						"name": "continentExp",
						"type": "String"
					},
					{
						"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dst4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "datacovid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dateRep",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "cases",
						"type": "String"
					},
					{
						"name": "deaths",
						"type": "String"
					},
					{
						"name": "countriesAndTerritories",
						"type": "String"
					},
					{
						"name": "geoId",
						"type": "String"
					},
					{
						"name": "countryterritoryCode",
						"type": "String"
					},
					{
						"name": "popData2019",
						"type": "String"
					},
					{
						"name": "continentExp",
						"type": "String"
					},
					{
						"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dst5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "datacovid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dateRep",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "cases",
						"type": "String"
					},
					{
						"name": "deaths",
						"type": "String"
					},
					{
						"name": "countriesAndTerritories",
						"type": "String"
					},
					{
						"name": "geoId",
						"type": "String"
					},
					{
						"name": "countryterritoryCode",
						"type": "String"
					},
					{
						"name": "popData2019",
						"type": "String"
					},
					{
						"name": "continentExp",
						"type": "String"
					},
					{
						"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dst6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "datacovid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dateRep",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "cases",
						"type": "String"
					},
					{
						"name": "deaths",
						"type": "String"
					},
					{
						"name": "countriesAndTerritories",
						"type": "String"
					},
					{
						"name": "geoId",
						"type": "String"
					},
					{
						"name": "countryterritoryCode",
						"type": "String"
					},
					{
						"name": "popData2019",
						"type": "String"
					},
					{
						"name": "continentExp",
						"type": "String"
					},
					{
						"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DstIndicateurs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "datacovid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DstCentreVaccin')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "datacovid"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Src1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "covid19-case-death.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dateRep",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "cases",
						"type": "String"
					},
					{
						"name": "deaths",
						"type": "String"
					},
					{
						"name": "countriesAndTerritories",
						"type": "String"
					},
					{
						"name": "geoId",
						"type": "String"
					},
					{
						"name": "countryterritoryCode",
						"type": "String"
					},
					{
						"name": "popData2019",
						"type": "String"
					},
					{
						"name": "continentExp",
						"type": "String"
					},
					{
						"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Src2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "covid19-hospital.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "indicator",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "value",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Src3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "covid19-new-case.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Src4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "covid19-response.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Response_measure",
						"type": "String"
					},
					{
						"name": "date_start",
						"type": "String"
					},
					{
						"name": "date_end",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Src5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "covid19-test.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "level",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					},
					{
						"name": "region_name",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "tests_done",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "testing_rate",
						"type": "String"
					},
					{
						"name": "positivity_rate",
						"type": "String"
					},
					{
						"name": "testing_data_source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Src6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "covid19-vaccin.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "YearWeekISO",
						"type": "String"
					},
					{
						"name": "FirstDose",
						"type": "String"
					},
					{
						"name": "FirstDoseRefused",
						"type": "String"
					},
					{
						"name": "SecondDose",
						"type": "String"
					},
					{
						"name": "UnknownDose",
						"type": "String"
					},
					{
						"name": "NumberDosesReceived",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Population",
						"type": "String"
					},
					{
						"name": "ReportingCountry",
						"type": "String"
					},
					{
						"name": "TargetGroup",
						"type": "String"
					},
					{
						"name": "Vaccine",
						"type": "String"
					},
					{
						"name": "Denominator",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcIndicateurs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "table-indicateurs-open-data-france.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "extract_date",
						"type": "String"
					},
					{
						"name": "tx_incid",
						"type": "String"
					},
					{
						"name": "R",
						"type": "String"
					},
					{
						"name": "taux_occupation_sae",
						"type": "String"
					},
					{
						"name": "tx_pos",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcCentreVaccin')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "centres-vaccination.csv"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "gid",
						"type": "String"
					},
					{
						"name": "nom",
						"type": "String"
					},
					{
						"name": "arrete_pref_numero",
						"type": "String"
					},
					{
						"name": "xy_precis",
						"type": "String"
					},
					{
						"name": "id_adr",
						"type": "String"
					},
					{
						"name": "adr_num",
						"type": "String"
					},
					{
						"name": "adr_voie",
						"type": "String"
					},
					{
						"name": "com_cp",
						"type": "String"
					},
					{
						"name": "com_insee",
						"type": "String"
					},
					{
						"name": "com_nom",
						"type": "String"
					},
					{
						"name": "lat_coor1",
						"type": "String"
					},
					{
						"name": "long_coor1",
						"type": "String"
					},
					{
						"name": "structure_siren",
						"type": "String"
					},
					{
						"name": "structure_type",
						"type": "String"
					},
					{
						"name": "structure_rais",
						"type": "String"
					},
					{
						"name": "structure_num",
						"type": "String"
					},
					{
						"name": "structure_voie",
						"type": "String"
					},
					{
						"name": "structure_cp",
						"type": "String"
					},
					{
						"name": "structure_insee",
						"type": "String"
					},
					{
						"name": "structure_com",
						"type": "String"
					},
					{
						"name": "_userid_creation",
						"type": "String"
					},
					{
						"name": "_userid_modification",
						"type": "String"
					},
					{
						"name": "_edit_datemaj",
						"type": "String"
					},
					{
						"name": "lieu_accessibilite",
						"type": "String"
					},
					{
						"name": "rdv_lundi",
						"type": "String"
					},
					{
						"name": "rdv_mardi",
						"type": "String"
					},
					{
						"name": "rdv_mercredi",
						"type": "String"
					},
					{
						"name": "rdv_jeudi",
						"type": "String"
					},
					{
						"name": "rdv_vendredi",
						"type": "String"
					},
					{
						"name": "rdv_samedi",
						"type": "String"
					},
					{
						"name": "rdv_dimanche",
						"type": "String"
					},
					{
						"name": "rdv",
						"type": "String"
					},
					{
						"name": "date_fermeture",
						"type": "String"
					},
					{
						"name": "date_ouverture",
						"type": "String"
					},
					{
						"name": "rdv_site_web",
						"type": "String"
					},
					{
						"name": "rdv_tel",
						"type": "String"
					},
					{
						"name": "rdv_tel2",
						"type": "String"
					},
					{
						"name": "rdv_modalites",
						"type": "String"
					},
					{
						"name": "rdv_consultation_prevaccination",
						"type": "String"
					},
					{
						"name": "centre_svi_repondeur",
						"type": "String"
					},
					{
						"name": "centre_fermeture",
						"type": "String"
					},
					{
						"name": "reserve_professionels_sante",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_covid1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "dateRep",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dateRep",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "deaths",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "deaths",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "countriesAndTerritories",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countriesAndTerritories",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "geoId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "geoId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "countryterritoryCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countryterritoryCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "popData2019",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "popData2019",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "continentExp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "continentExp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Src1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dst1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Src2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dst2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Src3",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dst3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data4",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data3",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Src4",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dst4",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data5",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data4",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "level",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Src5",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dst5",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data6",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data5",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "YearWeekISO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "YearWeekISO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FirstDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FirstDoseRefused",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstDoseRefused",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SecondDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SecondDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UnknownDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UnknownDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NumberDosesReceived",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NumberDosesReceived",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ReportingCountry",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportingCountry",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TargetGroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TargetGroup",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vaccine",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vaccine",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Denominator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Denominator",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Src6",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dst6",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Src1')]",
				"[concat(variables('factoryId'), '/datasets/Dst1')]",
				"[concat(variables('factoryId'), '/datasets/Src2')]",
				"[concat(variables('factoryId'), '/datasets/Dst2')]",
				"[concat(variables('factoryId'), '/datasets/Src3')]",
				"[concat(variables('factoryId'), '/datasets/Dst3')]",
				"[concat(variables('factoryId'), '/datasets/Src4')]",
				"[concat(variables('factoryId'), '/datasets/Dst4')]",
				"[concat(variables('factoryId'), '/datasets/Src5')]",
				"[concat(variables('factoryId'), '/datasets/Dst5')]",
				"[concat(variables('factoryId'), '/datasets/Src6')]",
				"[concat(variables('factoryId'), '/datasets/Dst6')]"
			]
		}
	]
}